<div [class.dark-theme]="isDarkTheme | async">
  <div (window:resize)="onResize($event)">
    <mat-toolbar color="primary">
      <div *ngIf="!isSlim()">
        <button *ngFor="let but of navButtons" mat-button [disabled]="but.status === 'disabled'"
          [class.main]="but.type === 'main'" [class.selected]="but.status === 'selected'" routerLink="{{ but.path }}"
          (click)="onNavButtonClick(but)">
          <span>{{ but.title }}</span>
        </button>
      </div>
      <div *ngIf="isSlim()">
        <button class="menuButton" (click)="isSideNavOpen = !isSideNavOpen">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="spacer"></div>
      <app-theme-toggle></app-theme-toggle>
    </mat-toolbar>
  </div>

  <div [class.open]="isSideNavOpen" class="sidenav">
    <button *ngFor="let but of navButtons" mat-button [disabled]="but.status === 'disabled'"
      [class.selected]="but.status === 'selected'" routerLink="{{ but.path }}"
      (click)="onNavButtonClick(but)">
      <fa-icon *ngIf="but.icon" [icon]="but.icon"></fa-icon>
      <span>{{ but.title }}</span>
    </button>
  </div>
  <div [class.open]="isSideNavOpen" class="sidenav-closer" (click)="isSideNavOpen = false"></div>
</div>