/*****************************/
/**    __  ___       _      **/
/**   /  |/  /___ _ (_)___  **/
/**  / /|_/ // _ `// // _ \ **/
/** /_/  /_/ \_,_//_//_//_/ **/
/**                         **/
/*****************************/

.cv-main {
  padding-top: 0.1px;
  margin-left: var(--sidebar-width);
}

.slim .cv-main {
  box-shadow: none;
  margin-left: 0;
}

.cv-main li h2 {
  text-align: left;
  font-size: 30px;
  margin: 20px 40px;
}

.slim li h2,
.cv-main li + li h2 {
  margin-top: 60px;
}
