@import "./sidenav.scss";

.mat-toolbar {
  height: 50px;
  z-index: 10;
  position: fixed;
  top: 0px;
  padding-left: 0;
}

.mat-toolbar .spacer {
  flex: 1 1 auto;
}

.mat-toolbar .mat-slide-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  height: 36px;
  vertical-align: middle;
  margin-left: 16px;
}

button.mat-button span {
  opacity: 0.8;
  color: #fff;
  font-size: 18px;
  vertical-align: super;
}

button.mat-button.main span {
  font-weight: bold;
  font-size: 22px;
}

button.mat-button:disabled span {
  opacity: 0.5;
}

button.mat-button.selected {
  background-color: #fff1;
}

button.mat-button.selected span {
  opacity: 1;
}