<div *ngIf="projectCard else loading" (window:resize)="onResize($event)">
  <div class="project-page">
    <div [ngClass]="isMobile()?'mobile-version':'desktop-version'">
      <div class="project-description">
        <h1>{{projectCard.title}}</h1>
        <hr>
        <h2>Synopsis</h2>
        <div class="short-description" [innerHTML]="projectCard.description.short | mdToHtml:'no-paragraph'">
        </div>
        <hr>
        <ng-container *ngIf="!isMobile()">
          <h2>Full Description</h2>
          <div [mathjax] class="long-description" [innerHTML]="projectCard.description.full | mdToHtml:'no-paragraph'">
            mathjax typesetting
          </div>
        </ng-container>
      </div>
      <div class="project-gallery">
        <div *ngIf="projectCard.trailer | youtubeExtractID" class="project-trailer">
          <h2>Trailer</h2>
          <app-youtube-video [videoID]="projectCard.trailer | youtubeExtractID"></app-youtube-video>
        </div>
        <hr *ngIf="isMobile()">
        <h2>Gallery</h2>
        <ngb-carousel *ngIf="projectCard.gallery.length != 0">
          <ng-template ngbSlide *ngFor="let image of projectCard.gallery">
            <img src="{{image.url}}" alt="{{image.title}}">
          </ng-template>
        </ngb-carousel>
        <!--
        <mat-carousel autoplay=true proportion=56 [maintainAspectRatio]="true" [hideArrows]="false"
          [hideIndicators]="false" [useKeyboard]="true" [loop]="false">
          <mat-carousel-slide *ngFor="let item of projectCard.gallery" class="carousel-cell" [hideOverlay]="true">
            <img src="{{item.url}}" alt="{{item.title}}">
          </mat-carousel-slide>
        </mat-carousel>
        -->
      </div>
    </div>

    <div *ngIf="isMobile()" class="mobile-version">
      <hr>
      <h2>Full Description</h2>
      <div [mathjax] class="project-description long-description"
        [innerHTML]="projectCard.description.full | mdToHtml:'no-paragraph'">mathjax typesetting
      </div>
    </div>
  </div>
</div>


<ng-template #loading>
  <div center-wrapper>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>