// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.circle {
  border-radius: 50%;
}

[center-wrapper] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.dark-theme a {
  color: #aaaaff;
}

.dark-theme a:visited {
  color: #ccaaff;
}

a.download-button, a.download-button:visited {
  display: inline-block;
  background-color: rgb(253,100,90);
  padding: 7.0px 15.0px;
  color: white;
  font-weight: bold;
  border-radius: 5.0px;
  text-decoration: none;
  box-shadow: 0px 3px 0px rgb(180,6,5);
}


a.download-button:hover {
  background-color: rgb(255, 128, 119);
  box-shadow: 0px 5px 0px rgb(180,6,5);
  transform: translateY(-2px);
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
