
// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.circle {
  border-radius: 50%;
}

[center-wrapper] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.dark-theme a {
  color: #aaaaff;
}

.dark-theme a:visited {
  color: #ccaaff;
}