@import '~@angular/material/theming';

@include mat-core();

$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-light-blue, A200, A100, A400);
$light-warn: mat-palette($mat-red);

$light-theme: mat-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));

@include angular-material-theme($light-theme);

$dark-primary: mat-palette($mat-indigo);
$dark-accent: mat-palette($mat-light-blue, A200, A100, A400);
$dark-warn: mat-palette($mat-red);

$dark-theme: mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

.dark-theme {
  @include angular-material-color($dark-theme);
}